<web-app  xmlns="https://jakarta.ee/xml/ns/jakartaee"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
          version="5.0">
    <servlet>
        <servlet-name>AllStudents</servlet-name>
        <servlet-class>controller.AllStudentsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllStudents</servlet-name>
        <url-pattern>/allstudents</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>controller.AddStudentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/addstudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>controller.DeleteStudentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/deletestudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>controller.ErrorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SuccessController</servlet-name>
        <servlet-class>controller.SuccessController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuccessController</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditStudentController</servlet-name>
        <servlet-class>controller.EditStudentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditStudentController</servlet-name>
        <url-pattern>/editstudent</url-pattern>
    </servlet-mapping>
</web-app>
