<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>AllProducts</servlet-name>
        <servlet-class>controller.AllProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllProducts</servlet-name>
        <url-pattern>/allproducts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.AddProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>controller.ErrorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SuccessController</servlet-name>
        <servlet-class>controller.SuccessController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuccessController</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>controller.EditProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SortByID</servlet-name>
        <servlet-class>controller.sort.SortByID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortByID</servlet-name>
        <url-pattern>/sort/sortbyid</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SortByIDReverse</servlet-name>
        <servlet-class>controller.sort.SortByIDReverse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortByIDReverse</servlet-name>
        <url-pattern>/sort/sortbyidreverse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SortByCategory</servlet-name>
        <servlet-class>controller.sort.SortByCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortByCategory</servlet-name>
        <url-pattern>/sort/sortbycategory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SortByCategoryReverse</servlet-name>
        <servlet-class>controller.sort.SortByCategoryReverse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortByCategoryReverse</servlet-name>
        <url-pattern>/sort/sortbycategoryreverse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SortByName</servlet-name>
        <servlet-class>controller.sort.SortByName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortByName</servlet-name>
        <url-pattern>/sort/sortbyname</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SortByNameReverse</servlet-name>
        <servlet-class>controller.sort.SortByNameReverse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortByNameReverse</servlet-name>
        <url-pattern>/sort/sortbynamereverse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SortByPrice</servlet-name>
        <servlet-class>controller.sort.SortByPrice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortByPrice</servlet-name>
        <url-pattern>/sort/sortbyprice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SortByPriceReverse</servlet-name>
        <servlet-class>controller.sort.SortByPriceReverse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortByPriceReverse</servlet-name>
        <url-pattern>/sort/sortbypricereverse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SortByDiscount</servlet-name>
        <servlet-class>controller.sort.SortByDiscount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortByDiscount</servlet-name>
        <url-pattern>/sort/sortbydiscount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SortByDiscountReverse</servlet-name>
        <servlet-class>controller.sort.SortByDiscountReverse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortByDiscountReverse</servlet-name>
        <url-pattern>/sort/sortbydiscountreverse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SortByActualPrice</servlet-name>
        <servlet-class>controller.sort.SortByActualPrice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortByActualPrice</servlet-name>
        <url-pattern>/sort/sortbyactualprice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SortByActualPriceReverse</servlet-name>
        <servlet-class>controller.sort.SortByActualPriceReverse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortByActualPriceReverse</servlet-name>
        <url-pattern>/sort/sortbyactualpricereverse</url-pattern>
    </servlet-mapping>
</web-app>
